
<h4>An error has occurred!</h4>

{{#if model.message}}
    <div id="content">{{model.message}}</div>
{{else}}
    <div id="content">Unknown Error</div>
{{/if}}

<p>{{#link-to "index"}}Go back{{/link-to}}</p>
