<h1>Welcome to Students Catalog</h1>

<p>Navigate to a link from bellow:</p>

{{#link-to "students"}}List of students{{/link-to}} <br/>

  {{#link-to "disciplines"}}List of disciplines{{/link-to}}

{{outlet}}
