<h1>Welcome to the Bookstore</h1>

<p>Navigate to a link from bellow:</p>

{{#link-to "clients"}}List of clients{{/link-to}} <br/>

{{#link-to "books"}}List of books{{/link-to}}

{{#link-to "bookstore"}}BookStore{{/link-to}}

{{outlet}}
