<h2> Add Author </h2>

<div id="addAuthor">

    <label>Name: </label>
  {{input type="text" value=name}}
    <br/>

    <button
      {{action "onAddButtonClick"}}> Finish
    </button>

</div>


{{outlet}}
